<div class="archivepage">
<TMPL_IF PERMALINK>
<a class="lead" href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a>
<TMPL_ELSE>
<a class="lead" href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a>
</TMPL_IF>
<span class="archivepagedate muted">
<em>Posted <TMPL_VAR CTIME></em>
<TMPL_IF AUTHOR>
by <span class="author">
<TMPL_IF AUTHORURL>
<a href="<TMPL_VAR AUTHORURL>"><TMPL_VAR AUTHOR></a>
<TMPL_ELSE>
<TMPL_VAR AUTHOR>
</TMPL_IF>
</span>
</TMPL_IF>
</span>
</div>
